@font-face {
    font-family: 'Redemption';
    src: url('Redemption.eot');
    src: url('Redemption.eot?#iefix') format('embedded-opentype'),
         url('Redemption.woff2') format('woff2'),
         url('Redemption.woff') format('woff'),
         url('Redemption.ttf')  format('truetype'),
         url('Redemption.svg#Redemption') format('svg');
}